.robot-container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 6px solid yellow; */
  height: 100vw;
}


.robot-face-shape {
  height: 40vw;
  width: 35vw;
  background-color: #8E1213;
  position: absolute;
  left: 35vw;
  top: 15%;
  border-radius: 50%;
  z-index: 100;
}

.robot-eye-left {
  height: 0px;
  width: 0px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #fff;
  position: absolute;
  top: 26%;
  left: 30%;
}

.robot-eye-right {
  height: 3.5vw;
  width: 3.5vw;
  background: url('https://picsum.photos/seed/picsum/200/300');
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: 26%;
  right: 30%;
}

.robot-ear-left {
  height: 10vw;
  width: 5vw;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 31%;
  z-index: -100;
}

.robot-ear-right {
  height: 10vw;
  width: 5vw;
  background: linear-gradient(#00c9ff, #92fe9d);
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 69%;
  z-index: -100;
}

.robot-nose {
  height: 10px;
  width: 10px;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 50px solid #7708F7;
  position: absolute;
  top: 45%;
  left: 45%;

}

.robot-teeth {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 7.5vw;
  width: 15vw;
  border-radius: 0 0 150px 150px;
  background-color: #EBF00F;
}

.robot-tooth {
  height: .25vw;
  width: 3vw;
  background-color: #F0760F;
  position: relative;
  left: 25%;
  opacity: 0.5;
}

.robot-hair-style {
  border-bottom: 35vw solid #995310;
  border-left: 105px solid transparent;
  border-right: 105px solid transparent;
  height: 0;
  width: 50vw;
  z-index: -110;
  position: absolute;
  left: 27.5%;
  top: 15%;
}

.robot-hair-one {
}

.robot-hair-two {
}

.robot-hair-three {
}
